<mat-card>
    <h3>Add New Quiz</h3>
    <div class="container">
    <mat-card-content>
        <form #addQuizForm="ngForm" (ngSubmit)="addQuiz()">
            <div class="form-group">
                <label>Title</label>
                <input type="text" placeholder="Title" class="form-control" id="title" name="title" #title="ngModel" [(ngModel)]="quiz.title" required>
                <div *ngIf="title.errors?.['required'] && title.touched" class="text-danger mb-2">Title is required</div>
              </div>

              <div class="form-group">
                <label>Number of Questions</label>
                <input type="text" placeholder="Number of Questions" class="form-control" id="noq" name="noq" #noq="ngModel" [(ngModel)]="quiz.numberOfQuestions" required>
                <div *ngIf="noq.errors?.['required'] && noq.touched" class="text-danger mb-2">Number of questuons required</div>
              </div>

              <div class="form-group">
                <label>Maximum Marks</label>
                <input type="text" placeholder="Maximum Marks" class="form-control" id="marks" name="marks" #marks="ngModel" [(ngModel)]="quiz.maxMarks" required>
                <div *ngIf="marks.errors?.['required'] && marks.touched" class="text-danger mb-2">Max Marks is required</div>
              </div>
              <div class="form-group">
                <label>Category</label>
                <select placeholder="Category" class="form-control" id="category" name="category" #category="ngModel" [(ngModel)]="categoryId" required>
                  <option *ngFor="let c of categories" value={{c.id}}>{{c.name}}</option>
                </select>
                <div *ngIf="category.errors?.['required'] && category.touched" class="text-danger mb-2">Category is required</div>
              </div>

              <div class="form-group">
                <label>Description</label>
                <textarea rows="10" placeholder="Description" class="form-control" id="description" name="description" #description="ngModel" [(ngModel)]="quiz.description" required></textarea>
                <div *ngIf="description.errors?.['required'] && description.touched" class="text-danger mb-2">Description is required</div>
              </div>
              
              <div class="form-group text-center">
                <button type="submit" mat-raised-button color="primary" [disabled]="!addQuizForm.valid">Add</button>
              </div>
        </form>
    </mat-card-content>
    </div>
</mat-card>

