<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-md-8">
        <!-- questions -->
        <ng-container>
          <h1 class="mt20">
            On Going Quiz <b></b>
          </h1>
        </ng-container>

        <mat-card class="mt10" >
          <mat-card-content>
            <p>
              <b> JVM stands for:</b>
              <span class="ml10"></span>
            </p>

            <mat-divider> </mat-divider>
            <br />

            <div class="row mt20">
              <div class="col-md-6">
                <input
                  type="radio" name="ques1"
                /> Java Virtual machine 
              </div>
              <div class="col-md-6">
                <input
                  type="radio" name="ques1"
                /> Java virtual mac
              </div>
            </div>

            <div class="row mt20">
              <div class="col-md-6">
                <input
                  type="radio" name="ques1"
                /> JVM
              </div>
              <div class="col-md-6">
                <input
                  type="radio" name="ques1"
                /> JAVA Machine
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card  class="mt10">
          <mat-card-content>
            <p>
              <b> Which of these method of class String is used to obtain length of String object ?</b>
              <span class="ml10" ></span>
            </p>

            <mat-divider> </mat-divider>
            <br />

            <div class="row mt20">
              <div class="col-md-6">
                <input
                  type="radio" name="ques2"
                /> lenght()
              </div>
              <div class="col-md-6">
                <input
                  type="radio" name="ques2"
                /> lengthof()
              </div>
            </div>

            <div class="row mt20">
              <div class="col-md-6">
                <input
                  type="radio" name="ques2"
                /> sizeof()
              </div>
              <div class="col-md-6">
                <input
                  type="radio" name="ques2"
                /> get()
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <div class="container text-center mt20 mb20">
          <button  mat-raised-button color="primary" routerLink="/user-dashboard/quiz-result">
            Submit Quiz
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="container">
    <h3>View Questions</h3>
  
    <div class="question" *ngFor="let question of questions; let i = index">
      <h3>Question {{ i + 1 }}:</h3>
      <div [ngClass]="{'editing': question.editing}">
        <p *ngIf="!question.editing">{{ question.questionName }}</p>
        <input *ngIf="question.editing" type="text" [(ngModel)]="question.questionName" class="form-control">
        <div class="form-check" *ngFor="let option of question.options; let j = index">
          <input class="form-check-input" type="radio" [name]="'question' + (i + 1)" [id]="'q' + (i + 1) + 'option' + j" [value]="option">
          <label class="form-check-label" [for]="'q' + (i + 1) + 'option' + j">{{ option }}</label>
        </div>
        <div class="form-group" *ngIf="!question.editing">
          <label>Correct Answer:</label>
          <select class="form-control" [(ngModel)]="question.correctAnswer">
            <option *ngFor="let option of question.options" [value]="option">{{ option }}</option>
          </select>
        </div>
        <div class="button-container">
          <button type="button" class="btn btn-primary m-3" (click)="editQuestion(question)">{{ question.editing ? 'Save' : 'Edit' }}</button>
          <button type="button" class="btn btn-danger m-3" (click)="deleteQuestion(question)">Delete</button>
        </div>
      </div>
    </div>
  </div>
-->
