<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-left">
      <a class="navbar-brand" routerLink="">Quizify</a>
    </div>
    <div class="navbar-middle">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="" *ngIf="!_loginService.isLoggedIn()">Home</a>
        </li>
        
      </ul>
    </div>
    <div class="navbar-right">
      <a routerLink="login" *ngIf="!_loginService.isLoggedIn()"><i class="fas fa-user"></i>Login</a>
      <a routerLink="signup" *ngIf="!_loginService.isLoggedIn()"><i class="fas fa-user-plus"></i>Signup</a>
      <a role="button" *ngIf="_loginService.isLoggedIn()" (click)="logout()"><i class="fas fa-sign-out"></i>Logout</a>
    </div>
</nav>

