<div class="container">
    <h1>Login</h1>
    <form #loginForm="ngForm" (ngSubmit)="login()" novalidate>
      <div class="form-group">
        <input type="email" placeholder="Email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="emailId" required email>
        <div *ngIf="email.errors?.['required'] && email.touched" class="text-danger mb-2">Email is required</div>
        <div *ngIf="email.errors?.['email'] && email.touched" class="text-danger mb-2">Please enter correct email</div>
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" class="form-control" id="password" name="password" #password="ngModel" [(ngModel)]="pwd" required minlength="8" maxlength="15">
        <div *ngIf="password.errors?.['required'] && password.touched" class="text-danger mb-2">Password is required</div>
        <div *ngIf="password.errors?.['minlength'] && password.touched" class="text-danger mb-2">Password is too short</div>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col">
            <p>
              <a href="#" class="text-primary">Forgot password?</a>
              Don't have an account? <a routerLink="/signup" class="text-primary">Sign Up</a>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
