<div class="container">
    <h3>Reset Password</h3> <!-- Added heading -->
    
    <form>
      <div class="row ">
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" placeholder="Enter Email" id="Email" name="Email" class="form-control" [(ngModel)]="email">
          </div>
        </div>
        <br><br>
        <div class="col-md-12">
          <div class="form-group">
            <input type="password" placeholder="Enter New Password" id="password" name="password" class="form-control" [(ngModel)]="password">
          </div>
        </div>
        <br><br>
      <div class="col-md-12">
        <div class="form-group">
          <input type="password" placeholder="Confirm Password" id="password" name="password" class="form-control" [(ngModel)]="password">
        </div>
      </div>
    <div class="button">
        <button type="submit" class="btn btn-primary mt20" (click)="reset()">Reset</button>
      </div>
      </div>
</form>
</div>

