<div class="container">
    <h3>Reset Password</h3> <!-- Added heading -->
    
    <form #resetForm="ngForm" (ngSubmit)="reset()" novalidate>
      <div class="row ">
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" placeholder="Enter Email" id="emailid" name="emailid" #emailid="ngModel" class="form-control" [(ngModel)]="email" required email>
            <div *ngIf="emailid.errors?.['required'] && emailid.touched" class="text-danger mb-2">Email is required</div>
            <div *ngIf="emailid.errors?.['email'] && emailid.touched" class="text-danger mb-2">Please enter correct email</div>
          </div>
        </div>
        <br><br>
        <div class="col-md-12">
          <div class="form-group">
            <input type="password" placeholder="Enter New Password" id="pwd" name="pwd" #pwd="ngModel" class="form-control" [(ngModel)]="password" required minlength="8" maxlength="15">
            <div *ngIf="pwd.errors?.['required'] && pwd.touched" class="text-danger mb-2">Password is required</div>
            <div *ngIf="pwd.errors?.['minlength'] && pwd.touched" class="text-danger mb-2">Password should be between 8 to 15 characters long</div>
          </div>
        </div>
        <br><br>
      <div class="col-md-12">
        <div class="form-group">
          <input type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel" class="form-control" [(ngModel)]="confirmPwd" required (keyup)="checkPassword()">
          <div *ngIf="confirmPassword.errors?.['required'] && confirmPassword.touched" class="text-danger mb-2">Confirm Password is required</div>
          <div *ngIf="!isEqual && confirmPassword.touched && !confirmPassword.errors?.['required']" class="text-danger mb-2">Should be same as password</div>
        </div>
      </div>
    <div class="button">
        <button type="submit" class="btn btn-primary mt20" [disabled]="!resetForm.valid && !isEqual">Reset</button>
      </div>
      </div>
</form>
</div>

